//META {"name":"minicord","description": "Minimal theme inspired by Kast and BakedPVP","author":"Glissant","version":"0.5.1"}*//
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


/*
lp #6955aa
dp #392e5c
darkest purple #2c2541
also gray      #202020
another gray   #262626
gray           #72767d
darker gray    #4f545c
--lp-color:    #6955aa;
--dp-color:    #392e5c;
*/
:root {
  --version: "minicord v0.5.1";
  --theme-notice: "minicord installed! Disable emoji menu if you use Zere's Fork.";
  --bg-color: 32, 32, 32;
  /* Change these two following colors to change accent colors. */
  --lp-color: 105, 85, 170;
  --dp-color: 57, 46, 92;
}

a {
  color: rgba(var(--lp-color), 1);
}

body {
  font-family: 'Roboto', sans-serif!important;
  background-color: rgba(var(--bg-color), 1);
}

body,
span:not(.spinner-item) {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.appMount-14L89u {
  height: 100vh;
  width: 100vw;
}

button:disabled, button:disabled:hover,
input:disabled, input:disabled:hover,
textarea:disabled, textarea:disabled:hover {
  pointer-events: all!important;
  cursor: not-allowed!important;
}

.wordmark-2L03Wr::before {
  content: 'mini';
  background-color: #202020;
  z-index: 999999999999999999999;
  font-size: 16px;
  font-weight: 100 !important;
  color: #fff;
  position: fixed;
  top: 8px;
  left: 9px;
  width: 200px;
}

.wordmark-2L03Wr::after {
  content: 'cord';
  font-size: 16px;
  z-index: 999999999999999999999;
  position: fixed;
  display: inline-block;
  font-weight: 900;
  color: rgba(var(--lp-color), 1);
  height: auto;
  top: 8px;
  left: 39px;
  background-color: transparent;
}

.wordmark-2L03Wr {
  opacity: 1;
  width: 100%;
  background-color: #202020;
  top: -4px;
}

.wordmark-2L03Wr svg {
  display: none;
}

.appMount-14L89u {
  background: #202020;
}

.titleBar-3_fDwJ {
  z-index: 99999999;
  background: #202020;
  height: 25px;
  margin-top: 4px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 0;
  width: 100%;
  position: relative;
}

.macButton-2KOco9 {
  margin: 4px;
}

.macButtonClose-2yZ5OL {
  margin-left: 10px;
}

.winButton-U7zAqI {
  width: 45px;
  height: 29px;
  margin-top: -4px;
  top: 0;
  opacity: 1;
  background-color: transparent;
  background-repeat: no-repeat !important;
  background-position: center!important;
  cursor: default;
  background-size: 10px!important;
}

.winButton-U7zAqI:hover {
  background-color: #29292A!important;
}

.user-settings-games .game-name {
  height: 32px;
}

.user-settings-games .game .remove-game {
  right: 199px;
  top: 34px;
  z-index: 1;
}

.user-settings-keybinds .keybind-group {
  padding: 0 15px;
  padding-bottom: 19px;
  padding-top: 20px;
}

/* hide public button */
.guild-inner #bd-pub-button {
  visibility: hidden!important;
  height: 0px!important;
}

div#bd-pub-li {
  visibility: hidden;
  height: 0px!important;
}

/* Servers */
.guilds-wrapper {
  background: #202020;
  width:65px!important;
}

.guilds-wrapper .guilds .guild,.guilds-wrapper .guilds .guild .guild-inner a,.guilds-wrapper .guilds .friends-icon {
  width: 40px;
  height: 40px;
}

.guilds-wrapper .guilds .guild .guild-inner a {
  background-size: contain;
    /*background-color: rgba(var(--lp-color), 1);*/
}

.guilds-wrapper .guild-separator:after {
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(var(--lp-color), 1);
  opacity: 0.8;
}

.guilds-wrapper .guilds .friends-online {
  margin: 10px -1px;
  font-size: 12px;
}

.guilds-wrapper .guilds .guild-placeholder {
  border: 2px solid rgba(var(--lp-color), 1);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.guilds-wrapper .guilds .guild.selected:before {
  background: rgba(var(--lp-color), 1) !important;
}

.guilds-wrapper .guilds .guild:before, .guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper .guilds .guild.unread:before, .guilds-wrapper .guilds .guild.unread.selected:before {
  border-radius: 100% !important;
  border: none !important;
  background: transparent;
  top: 17px !important;
  left: -3px !important;
  height: 46px !important;
  width: 46px !important;
  transition: ease !important;
  z-index: 0;
}

.guilds-wrapper .guilds .guild.unread:not(.selected) {
  -webkit-border-radius: 100%;
  box-shadow: rgba(var(--dp-color), 1) 0px 0px 0px 3px !important;
}

.guilds-wrapper .guilds .guild.unread:not(.selected) .guild-inner a {
  border-color: rgba(var(--lp-color), 1)!important;
}
/* SELECTED SERVER */

.guilds-wrapper .guilds .guild .guild-inner {
  background: transparent !important;
  border-radius: 0% !important;
  cursor: pointer;
  font-size: 12px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(var(--lp-color), 0.2) 0px 0px 0px 3px !important;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
  -webkit-box-shadow: 0px 0px 2px 3px rgba(var(--lp-color), 1)!important;
  -moz-box-shadow: 0px 0px 2px 3px rgba(var(--lp-color), 1)!important;
  box-shadow: 0px 0px 2px 3px rgba(var(--lp-color), 1)!important;
}

.guilds-wrapper .guilds-add {
  -webkit-transition: border-color .2s ease,color .2s ease;
  background: rgba(var(--dp-color), 1);
  border: 0;
  border-radius: 100%;
  font-size: 40px;
  color: #FFF;
  font-weight: 300;
  height: 100%;
  line-height: 80%;
  padding: 0;
  text-align: center;
  transition: all .2s ease,color .2s ease;
  width: 100%;
  text-shadow: 0;
}

.guilds-wrapper .guilds-add:hover {
  -webkit-box-shadow: 0px 0px 7px 3px rgba(var(--lp-color), 1)!important;
  -moz-box-shadow: 0px 0px 7px 3px rgba(var(--lp-color), 1)!important;
  box-shadow: 0px 0px 7px 3px rgba(var(--lp-color), 1)!important;
}

.guilds-wrapper .guilds .friends-icon {
  background-image: url('https://www.flaticon.com/premium-icon/icons/svg/123/123370.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 35px;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
  background-color: #29292A;
}
/* Channels */
.scroller-NXV0-d {
  margin-top: 5px;
}

.container-RYiLUQ {
  background: #202020;
  contain: layout;
  min-height: 0;
  position: relative;
}

.theme-dark .search .search-bar {
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 1px solid rgba(var(--dp-color), 1);
}
.theme-dark .search-results-wrap {
  z-index: 10000;
}
.search-results-wrap .search-result {
  z-index: 10001;
}

.contentSelectedText-3j5CXt {
  background-color: #29292A;
  border-radius: 0%;
}

.content-2mSKOj {
  margin: 0;
}

.contentHoveredText-2HYGIY,
.contentHoveredVoice-3qGNKh:active,
.contentSelectedVoice-gTtYM9:active {
  background-color: #29292A;
  border-radius: 0%;
}
.channels-3g2vYe .scrollerWrap-2uBjct {
  font-size: 10px!important;
}
.channels-3g2vYe {
  -ms-flex-negative: 0;
  background: #202020;
  flex-shrink: 0;
  width: 220px;
}

/* Bottom of channel list box */
.container-iksrDt {
  -ms-flex-align: center;
  -ms-flex-negative: 0;
  -webkit-box-align: center;
  align-items: center;
  background: #202020;
  background-color: transparent;
    /*color: #fff;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
  margin-bottom: 0px;
  padding: 0 2px;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
  background-color: #202020;
}

.theme-dark #friends {
  background-color: #202020;
}
/* Messages box */
.chat form {
  -ms-flex-negative: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  margin: 0px;
  margin-bottom: 0!important;
  position: relative;
  box-shadow: none!important;
}

.textArea-20yzAH {
  margin: 0px 40px 20px -40px;
  position: relative;
  left: 60px;
}

.channelTextArea-os01xC {
  margin: 0px;
  margin-top: 5px!important;
  margin-right: 0px!important;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 99.6%;
}

.theme-dark .chat>.content, .theme-dark .friends-table, .theme-dark .messages-wrapper {
  background-color: #202020;
}

.theme-dark .chat form {
  background: #202020;
  border-top: none;
}
/* Link btn */
svg[class^="attachButton"] {
  background-image: url('https://image.flaticon.com/icons/png/512/230/230334.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

svg[class^="attachButton"] > * {
  display: none;
}
/* Attach */
svg[class^="attachButton"] {
  background-image: url('https://image.flaticon.com/icons/png/512/230/230334.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

svg[class^="attachButton"] > * {
  display: none;
}
/* Emoji button textarea */
.emojiButton-3c_qrT {
  position: absolute;
  left: 4vh;
  top: 11px;
  margin-right: 140vh;
  display: block;
}

/* Emoji button editbox */
.edit-container-inner .emojiButton-3c_qrT {
  position: absolute;
  left: 0.6vh;
  top: 0.9vh;
  transform: scale(0.8);
}
.edit-container-inner .spriteNormal-3BYqCK {
  transform: scale(0.8);
}
/* end editbox button */

/* Emoji button share/upload */
.inner-tqJwAU .emojiButton-3c_qrT {
  position: absolute;
  left: 0.7vh;
  top: 1vh;
  transform: scale(0.8);
}
/* end share/upload button */

.comment-1faMgX .emojiButton-3c_qrT {
  position: absolute;
  left: 0.7vh;
  top: 1vh;
  transform: scale(0.8);
}

.channelTextAreaEnabled-c05Zpy .spriteNormal-3BYqCK {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.channelTextAreaEnabled-c05Zpy .sprite-3pvJkd {
  transform: scale(1.12);
}

.theme-dark .inner-3if5cm {
  background-color: #262626 !important;
  border-radius: 5px;
  color: #FFF !important;
}
.quote-msg{
  margin-bottom: 5px;
}

innerEnabled-gLHeOL inner-3if5cm flex-3B1Tl4 .theme-dark .attachButtonDivider-3tknGJ {
  visibility: hidden!important;
}

.attachButtonDivider-3tknGJ {
  visibility: hidden;
}

.theme-dark .attachButtonPlus-2l1NEU {
  fill: #59595A;
}

.attachButton-Di6YUh {
  opacity: 0.4;
  transition: all 0.2s;
}

.attachButton-Di6YUh:hover {
    /* -webkit-transform: scale3d(1.1,1.1,1.1); */
    /* transform: scale3d(1 .1,1.1,1.1); */
  fill: #fff;
  opacity: 1;
  transform: scale(1);
}

.theme-dark .title-qAcLxz {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  background: #202020;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.00);
  z-index: 10000
}

.theme-dark .headerBar-cxbhPD {
  -webkit-box-shadow: none;
  background: #202020;
  box-shadow: none;
}

.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
  background-color: rgba(var(--dp-color), 1);
  color: #fff;
  border-radius: 0;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
  background-color: rgba(var(--lp-color), 1);
}
/* Friends tab */
.theme-dark #friends .tab-bar .tab-bar-separator {
  background-color: hsla(0,0%,100%,.1);
  display: none;
}
/* Tabs */
.theme-dark #friends .tab-bar .tab-bar-item {
  color: hsla(0,0%,100%,.6);
  border-radius: 0%;
}

.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
  background-color: #29292A;
  color: #FFF;
}

.theme-dark #friends .tab-bar .tab-bar-item.selected {
  background-color: #FC9600;
  color: #fff;
  border-radius: 0;
}
/* Servers in commen etc*/
.theme-dark #friends .friends-table .friends-table-header {
  border-bottom: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
/* Friends general */
#friends .friends-table .friends-row:hover {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  background: rgba(153,170,181,.2);
  border-color: transparent;
  border-radius: 0;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  margin: 0 20px;
  padding: 16px 10px;
}

.chat .divider:before {
  content: unset;
}
.chat .divider {
    margin: 0 65px;
    margin-bottom: 0;
}

.theme-dark #friends .friends-table .friends-row:hover {
  background: #2D2D2E;
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
}

#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call {
  border-radius: 0;
}

.private-channels .channel.selected a {
  background-color: #29292A;
  border-radius: 0;
  color: #FFF
}

.private-channels .channel.selected a .channel-name {
  color: #FFF !important
}

.private-channels .channel a {
  border-radius: 0
}

.private-channels .channel:hover a {
  background-color: #29292A;
}
/* Scrollbars */
.scroller::-webkit-scrollbar {
  width: 6px!important;
  border-radius: 10px!important;
}

.scroller::-webkit-scrollbar-thumb {
  border: 0!important;
  background-color: rgba(var(--lp-color), 1)!important;
  border-radius: 10px !important;
}

.scroller::-webkit-scrollbar-track-piece {
  border: none!important;
  background-color: #202020!important;
}

.scroller-fzNley::-webkit-scrollbar {
  width: 10px!important;
  border-radius: 10px!important;
}

.channel-members::-webkit-scrollbar {
  width: 11px !important;
  visibility: collapse;
}

.scrollerFade-28dRsO .scroller-fzNley::-webkit-scrollbar-thumb, .scrollerFade-28dRsO .scroller-fzNley::-webkit-scrollbar-track {
  visibility: collapse;
}

/* Members */
.channel-members .member {
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
}

.channel-members {
  padding: 0px 0px 0px 0px;
}

.theme-dark .channel-members {
  background-color: #202020;
}

.header-1tSljs {
  box-shadow: 0px 0px!important;
}

.appMount-14L89u {
  background: #202020;
}
/* upload */
.uploadModal-2KN6Mm {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-filter: blur(0);
  -webkit-perspective: 1000;
  background-color: #29292A;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  filter: blur(0);
  flex-direction: column;
  min-height: 258px;
  perspective: 1000;
  width: 520px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.uploadModal-2KN6Mm .footer-4pOKm8 {
  -ms-flex-direction: row;
  -ms-flex-pack: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  background-color: #29292A;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

.uploadModal-2KN6Mm .inner-1-09ZV {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  border: 0;
  border-radius: 10px 10px 0 0;
  color: #fff;
  flex: 1;
  margin: 10px;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button {
  background-color: rgba(var(--dp-color), 1);
  height: 36px;
  min-width: 84px;
  padding: 0!important;
  float: left;
  border-radius: 0;
  text-decoration: none
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button-primary {
  -webkit-transition: opacity .2s ease-in-out;
  background-color: rgba(var(--dp-color), 1);
  color: #fff;
  transition: opacity .2s ease-in-out;
}
/* Close button config */
.theme-dark .ui-standard-sidebar-view .btn-close {
  border-color: rgba(var(--dp-color), 1);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* Config table right aligned */
.ui-standard-sidebar-view .content-column.default {
  padding: 20px 40px 80px;
}

.ui-standard-sidebar-view .content-column, .ui-standard-sidebar-view .custom-column {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100%;
  min-width: 460px;
}

.theme-dark .ui-standard-sidebar-view .content-region {
  background: #202020;
}
    /* Account config box*/
.theme-dark .cardPrimary-ZVL9Jr {
  border-color: 0;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .cardPrimary-ZVL9Jr {
  background: rgba(32,34,37,.0);
  border-color: transparent;
}
        /* Buttons */
.buttonBrandFilled-3Mv0Ra {
  background-color: rgba(var(--lp-color), 1);
  border-radius: 0;
}

.pluginrepo-modal
        .pluginEntry.downloadable .btn-download {
  background-color: rgba(var(--lp-color), 1) !important;
}

.themerepo-modal
        .themeEntry.downloadable .btn-download {
  background-color: rgba(var(--lp-color), 1) !important;
}
        /* Red button */
.buttonRedOutlined-2t9fm_ {
  border-color: rgba(240,71,71,.3);
  color: #FFF;
  border-radius: 0;
  background-color: #f04747;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
            /* Buttons > Hover */
.buttonRedOutlined-2t9fm_:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)
}

.buttonBrandFilledDefault-2Rs6u5:hover {
  background-color: rgba(var(--dp-color), 1)!important;
}
    /* Right aligned connections */
.theme-dark .elevationLow-5GEz9e {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  border-radius: 0;
}
    /* Right aligned privacy */
.theme-dark .cardPrimaryEditable-2IQ7-V {
  border-color: transparent;
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
    /* right aligned accounts */
.theme-dark .cardPrimaryOutline-2YyAz2 {
  border-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
    /* Checkbox */
.theme-dark .checkbox-1QwaS4 {
  background-color: #29292A !important;
  border: 1px solid rgba(var(--lp-color), 1);
  border-radius: 0;
}
    /* Switches */
.themeClear-1NqU69.valueChecked-3Bzkbm {
  background-color: rgba(var(--lp-color), 1) !important;
}

.sizeDefault-rZbSBU:after, .sizeMini-1Xu3Pz {
  border-radius: 50%;
  height: 24px;
  z-index: 100000;
}

.sizeDefault-rZbSBU:after {
  margin: 5px;
  margin: -3px 0 0 0;
  width: 24px;
  z-index: 10000;
}

.size-yI1KRe:after {
  background-color: rgba(var(--lp-color), 1) !important;
  content: "";
  display: block;
  position: relative;
  z-index: 1;
}

.sizeDefault-rZbSBU {
  border-radius: 14px;
  height: 18px;
  width: 42px;
}

.switchEnabled-3CPlLV {
  opacity: 1;
  overflow: unset;
}

.switchEnabled-3CPlLV:before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  position: unset;
  z-index: -1000000;
}
    /* Selectors */
.theme-dark .select-3JqNgs .Select-control {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  background: #2D2D2E;
  border: transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .select-3JqNgs .is-disabled .Select-control {
  background: #2D2D2E;
  border-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
    /* Slider */
.grabber-1TZCZi {
  -webkit-box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 3px 0 rgba(0,0,0,.05);
  background-color: rgba(var(--lp-color), 1);
  border: transparent;
  border-radius: 50%;
  box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 3px 0 rgba(0,0,0,.05);
  cursor: ew-resize;
  height: 24px;
  left: 0;
  margin-left: -5px;
  margin-top: -13px;
  top: 50%;
  width: 24px;
}
    /* Inputs */
.theme-dark .input-2YozMi:hover {
  border: 0;
  border-color: transparent;
  border-bottom: 1px solid rgba(var(--lp-color), 1);
}

.theme-dark .input-2YozMi:focus {
  border: 0;
  border-color: transparent;
  border-bottom: 1px solid rgba(var(--lp-color), 1);
}

.theme-dark .input-2YozMi {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid rgba(var(--lp-color), 1);
  color: #f6f6f7;
  border-radius: 0;
}
/* Sidebar configs */
.ui-standard-sidebar-view .sidebar-region {
  -ms-flex: 0;
  -ms-flex-pack: end;
  flex: 0;
  z-index: 1;
}

.ui-standard-sidebar-view .sidebar-region, .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
  justify-content: flex-start;
}

.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
  background-color: #202020;
}

.ui-standard-sidebar-view .sidebar-region .sidebar {
  background-color: #202020;
}
    /* Sidebar > Items */
.side-2nYO0F .itemSelected-3XxAMf {
  background-color: rgba(var(--lp-color), 1);
  color: #FFF;
  border-radius: 0;
  transition: all 1s;
}
        /* Items > Hover */
.theme-dark .side-2nYO0F .itemDefault-3NDwnY:hover, .theme-dark .side-2nYO0F .itemHover-3rojsB:hover {
  background-color: transparent;
  color: #FFF;
}
        /* Items > Selected */
.side-2nYO0F .itemSelected-3XxAMf {
  background-color: rgba(var(--lp-color), 1);
  color: #fff;
  border-radius: 0;
}

.itemDefault-3NDwnY .item-3879bf .notSelected-PgwTMa:hover {
  border-radius: 0 !important;
}
/* Menu popup */
.menu-3BZuDT {
  -webkit-box-shadow: 0 2px 10 0 rgba(0,0,0,.5);
  background: #29292A;
  border-radius: 0;
  box-shadow: 0 2px 10 0 rgba(0,0,0,.5);
  overflow: hidden;
  width: 216px;
}

.separator-1hpa3S {
  -webkit-box-sizing: border-box;
  border-bottom: 0;
  box-sizing: border-box;
}

.item-rK1j5B:hover {
  background-color: transparent;
  color: #FFF;
  opacity: 1;
}
/* Ancored messages */
.theme-dark .themed-popout {
  background-color: #29292A;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .themed-popout .header {
  background-color: #29292A;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .themed-popout .footer {
  background-color: #29292A;
}
    /* Messages */
.theme-dark .messages-popout-wrap .messages-popout .message-group {
  border-color: transparent;
  background-color: transparent;
  border-bottom: solid 1px #313132;
  border-radius: 0;
  transition: all 0.2s ease-in-out
}

.theme-dark .messages-popout-wrap .messages-popout .message-group:hover {
  border-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4)
}

/* New Messages */
.chat .new-messages-bar {
  background-color: rgba(var(--dp-color), 1);
  border: transparent;
  border-radius: 0%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4)
}

.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div {
  border-radius: 0%;
  background-color: #29292A
}

.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div {
  background-color: rgba(var(--lp-color), 1);
}

.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
  color: #FFF;
  border-radius: 0%;
  background-color: #29292A;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
  color: rgba(var(--lp-color), 0.7);
  background-color: transparent;
  border: 0 !important;
  border-color: transparent
}
/* Emoji configs */
.search-bar.search-bar-light {
  background-color: #202020 !important;
}

.search-bar.search-bar-light .search-bar-inner {
  background-color: rgba(199,209,216,.3);
  border: 1px solid transparent;
  border-radius: 6px!important;
}
/*.emojiPicker-3g68GS .dimmer-jySV_v {
    -webkit-transition: #202020 .15s ease-in-out;
    background-color: transparent;
    border-radius: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    transition: #202020 .15s ease-in-out;
    width: 100%;
    z-index: 1;
}*/

/* emojipicker textarea */
.emojiPicker-3g68GS {
  -ms-flex-direction: column!important;
  -webkit-box-direction: normal!important;
  -webkit-box-orient: vertical!important;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
  background-color: #29292A;
  border: 0;
  border-radius: 6px !important;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  flex-direction: column!important;
  overflow: hidden!important;
  max-width: 350px!important;
  max-height: 470px;
  margin-right: -35vh;
}


/* emojipicker reactions */
.popout.popout-left .emojiPicker-3g68GS {
  margin-right: -0vh;
}


.emojiPicker-3g68GS .scroller-fzNley {
  height: 45vh !important;
  border-radius: 5px;
}

.scroller-fzNley scroller-NXV0-f {
  border-radius: 5px;
}

.emoji {
  min-height: 45px;
  min-width: 45px;
}

.emoji {
  transition: all .2s ease;
}

.emoji {
  resize: both;
  width: 32pt;
  height: 32pt;
}
/*
 * Make single jumbo emotes extra large!
 */
.emoji.jumboable:only-child {
  width: 55px;
  height: 55px;
  image-rendering: auto;
}
/* END OF SNIPPET */

/*
 * Bigger reaction emote
 */
.reactions .emoji {
  width: 35px;
  height: 35px
}
/* END OF SNIPPET */

/*
 * Enlarges emotes on hover in drawer */

.emojiPicker-3g68GS {
  position: relative;
  --scalar: 2.5;
}

.emojiPicker-3g68GS .emojiItem-3l4Fa9 {
  position: relative;
  transition: all 0.08s linear;
  clear: both;
}

.emojiPicker-3g68GS .emojiItem-3l4Fa9:hover {
  transform: scale(var(--scalar));
  z-index: 2001;
}

.emojiPicker-3g68GS .emojiItem-3l4Fa9:first-child:hover {
  transform: scale(var(--scalar)) translate(calc(80%/var(--scalar)), 0%);
  z-index: 2001;
}

.emojiPicker-3g68GS .emojiItem-3l4Fa9:last-child:hover {
  transform: scale(var(--scalar)) translate(calc(-80%/var(--scalar)), 0%);
  z-index: 2001;
}
/* Override hover if other emote below*/
.emojiPicker-3g68GS .emojiItem-3l4Fa9:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 2002;
}
/* END OF SNIPPET */
.embedPill-3sYS1X {
  -ms-flex-negative: 0;
  background-color: #292D31;
  border-radius: 0;
  flex-shrink: 0;
  width: 4px;
}

.embedInner-t4ag7g {
  -webkit-box-sizing: border-box;
  background: hsla(0,0%,98%,.3);
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.unread-23Kvxk {
  background-color: rgba(var(--lp-color), 0.3);
  border-radius: 0px;
  height: 11px;
  width: 11px;
  left: 5%;
  margin-top: -8px;
  position: absolute;
  top: 52%;
  box-shadow: 0 0 2px rgba(var(--lp-color), 1);
}
/* Search configs */
/* Search options */
.search-popout .option.selected {
  background-color: #323234;
  border-radius: 0
}

.search-popout .option.selected:after {
  background: #202020;
  border-radius: 0
}

.search-popout {
  background-color: #29292A;
  box-shadow: none;
  border-radius: 0
}

.search-popout .option:after {
  background: #29292A;
  border-radius: 0
}

.theme-dark .searchAnswer-yD90ey, .theme-dark .searchFilter-1fJ0cd {
  background-color: transparent !important;
  border-radius: 0;
}

.theme-dark .search-results-wrap .search-header {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,20%);
  background-color: #29292A;
  box-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.search-results-wrap .results-wrapper {
  padding-left: 0;
}

.theme-dark .search-results-wrap {
  background-color: #29292A;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.theme-dark .search-results-wrap .search-result .search-result-message.hit {
  border: none;
  border-radius: 0;
  background-color: #202020;
}

.theme-dark .search-results-wrap .search-result .search-result-message.after, .theme-dark .search-results-wrap .search-result .search-result-message.before {
  opacity: .3;
  background-color: transparent;
  box-shadow: 0 !important;
}

.theme-dark .search-results-wrap .action-buttons .jump-button {
  background-color: #29292A;
  color: hsla(0,0%,100%,.6);
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .themed-popout .header .subtitle, .theme-dark .themed-popout .text {
  color: hsla(0,0%,100%,.8);
}

.theme-dark .messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {
  background-color: rgba(var(--dp-color), 1);
}

.theme-dark .search-results-wrap .channel-separator .channel-name {
  background-color: transparent;
  color: #fff;
}

.theme-dark .search-results-wrap .channel-separator .channel-name {
  box-shadow: 0;
}

.theme-dark .search-results-wrap .search-result:before {
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(47,49,54,0)),to(#2f3136));
  background-image: none;
}

.theme-dark .search-results-wrap .search-result:before {
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(47,49,54,0)),to(#2f3136));
  background-image: none;
}

.theme-dark .search-results-wrap .search-result:after {
  background-image: none;
  background-image: none;
}

.search-results-wrap .search-result:after {
  background-image: none;
  background-image: none;
  bottom: 0;
}

.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
  -webkit-box-sizing: border-box;
  background-color: #202020;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  box-sizing: border-box;
}
/* Messages old */
.theme-dark .chat .jump-to-present-bar {
  background-color: rgba(var(--dp-color), 1);
  border-radius: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1) !important;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4)
}

.theme-dark .chat .jump-to-present-bar:hover {
  background-color: rgba(var(--lp-color), 1);
}
/* Server modals */
.create-guild-container.deprecated .create-or-join .form-inner {
  -webkit-box-sizing: border-box;
  background-color: #202020;
  background-image: none;
  background-position: 0 100%,100% 100%;
  background-repeat: no-repeat;
  background-size: 155px auto,75px auto;
  box-sizing: border-box;
  height: 420px;
  padding: 30px 24px;
  width: 520px;
  border-radius: 0
}

.create-guild-container.deprecated .action {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
  -webkit-box-sizing: border-box;
  background: #29292A;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 228px;
}

.create-guild-container.deprecated .action.create .action-icon {
  background: url(https://image.flaticon.com/icons/png/512/265/265674.png);
  background-size: 38%;
  height: 27%;
  background-position: center;
  background-repeat: no-repeat;
}

.create-guild-container.deprecated .action.join .action-icon {
  background: url(https://image.flaticon.com/icons/png/512/653/653272.png) 50% no-repeat;
  background-size: 40%;
  height: 78px;
}

.create-guild-container.deprecated .create-or-join .actions .or {
  background-image: url(https://image.flaticon.com/icons/png/512/261/261956.png);
  background-position: 50%,50%;
  background-repeat: no-repeat;
  background-size: 52px,52px;
  color: transparent;
  font-size: 22px;
  font-weight: 500;
  height: 100%;
  left: 0;
  line-height: 368px;
  padding-top: 48px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.form-deprecated .btn-primary, .form.deprecated .btn-primary {
  background-color: rgba(var(--dp-color), 1);
  border-radius: 0;
  color: #fff;
}

.tooltip.tooltip-red {
  background-color: rgba(var(--dp-color), 1);
  border-radius: 0 !important;
  color: white;
}

.tooltip.tooltip-black {
  background-color: rgba(var(--dp-color), 1);
  border-radius: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  color: white;
  border: none;
}

.tooltip.tooltip-red.tooltip-right:after {
  border-right: none;
}

.tooltip.tooltip-black.tooltip-top:after {
  border-top: none;
}

.tooltip.tooltip-black.tooltip-right:after {
  border-right: none;
}

.tooltip.tooltip-black.tooltip-bottom:after {
  border-bottom: none;
}

.tooltip.tooltip-black.tooltip-left:after {
  border-left: none;
}

.userPopout-4pfA0d {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6);
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  overflow: hidden;
  width: 250px;
}

.theme-dark .headerNormal-1cioxU {
  background-color: #202020;
}

.headerPlaying-2Q7mBy {
  background: rgba(var(--dp-color), 1);
}

.avatarWrapper-2Gfmp1 {
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
  background-color: #29292A;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.avatar-small {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.messages-wrapper .avatar-large {
  background-size: cover;
  width: 70px;
  height: 70px;
}

.theme-dark .body-3rkFrF, .theme-dark .footer-2J5zqP {
  background-color: #29292A;
  color: hsla(0,0%,100%,.8);
}

.role-3rahR_ {
  -webkit-box-sizing: border-box;
  border: 0;
  border-radius: 0%;
  box-sizing: border-box;
  height: 22px;
  margin: 0 4px 4px 0;
  padding: 4px;
  background-color: #2D2D2E;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
}

.role-tag {
  -webkit-box-sizing: border-box;
  border: 0!important;
  border-radius: 0%;
  box-sizing: border-box;
  height: 22px;
  margin: 0 10px 4px 10px;
  padding: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}


.botTag-1OwMgs {
    font-size: 10px;
    font-weight: 600;
    -webkit-box-sizing: border-box!important;
    border-radius: 0%!important;
    box-sizing: border-box!important;
    height: 22px!important;
    margin: 0 10px 4px 10px!important;
    padding: 3px!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5)!important;
}

.theme-dark .quickMessage-28pD5Y {
  background-color: #313132;
  border-color: transparent;
  color: hsla(0,0%,100%,.7);
  border-radius: 0;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
}

.activity-AFBUEw {
  background-color: transparent;
  padding: 10px;
}
/* Images */
.theme-dark .message-group a {
  color: rgba(var(--lp-color), 1);
  border-radius: 0;
}
/* Code */
.theme-dark .message-group .comment .markup pre {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  font-family: 'Roboto', sans-serif !important;
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
  background: #29292A;
}
.message-group .comment .markup pre code {
  border-radius: 5px;
}

.message-group h2{
  margin-bottom: 8px;
}
.typing-3eiiL_ strong {

  text-align: center;
}
/*color: rgba(var(--lp-color), 1);*/
/* Right click */
.small-popout-box {
  background: #29292A;
  border: transparent;
  border-radius: 0;
  position: relative;
}

.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
  background: -webkit-gradient(linear,left top,right top,color-stop(85%,#282b30),to(#2f3136));
  background: #333333;
}

.contextMenu-uoJTbz {
  background-color: #29292A;
  border-radius: 0;
  border: none !important;
  border-color: transparent !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.Select-menu-outer {
  background-color: #29292A;
  border-radius: 0;
  border: none !important;
  border-color: transparent !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .typing-3eiiL_ {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  float: right;
  text-align: left;
}
/*.theme-dark .typing-3eiiL_ span {
    display: none
}*/
.theme-dark .message-group:not(.has-divider) {
  border-bottom-color: transparent;
}
/* User profile modal */
.root-2sNHUF {
  border-radius: 0;
  overflow: hidden;
  position: relative;
  width: 600px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.topSectionNormal-2LlRG1 {
  background-color: #202020;
}

.topSectionPlaying-3jAH9b {
  background: rgba(var(--dp-color), 1);
}

.theme-dark .body-3_tdh6 {
  background-color: #202020;
}

.buttonGreenFilled-6QHNrw {
  background-color: #89D036;
  color: #fff;
  border-radius: 0;
}

.note-39NEdV {
  margin: -4px;
  padding: 16px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.note-39NEdV:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .root-2sNHUF .note-39NEdV textarea:focus {
  background-color: #202020;
}

.connectedAccount-3mKaTA {
  border: 1px solid;
  border-radius: 0;
  margin-top: 20px;
  padding: 8px 14px 8px 8px;
  width: 240px;
  background-color: #29292A;
  cursor: default;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.connectedAccount-3mKaTA:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .wrapper-uAa07y {
  background: #29292A;
  border-color: transparent;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.theme-dark .buttonPrimaryOutlinedDefault--H0hhk:hover {
  border-color: transparent !important;
}

.theme-dark .buttonPrimaryOutlinedDefault--H0hhk, .theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx {
  border-color: transparent;
  color: #43B581;
  border-radius: 0 !important;
  background: #202020;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
}
/* Emojis */
.emojiPicker-3g68GS .search-bar input {
  color: #FFF!important;
}
.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m {
  background-color: rgba(62,62,62,0);
}

.diversitySelector-O3ea2c .popout-2lja3I {
  background: rgba(32, 32, 32, .8);
  border: 1px solid #2f3136;
}
.emojiPicker-3g68GS .header-27dQ-e {
  z-index: 9999;
}
.emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m {
  background-color: rgba(32, 32, 32, .8);
}


.emojiPicker-3g68GS .scroller-fzNley .emojiItem-3l4Fa9 {
  background-size: contain!important;
  background-position: 50%!important;
  background-repeat: no-repeat!important;
}

.popout.popout-top-right.no-arrow, .popout.popout-top.no-arrow {
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  -webkit-border-radius: 6px;
}

#bda-qem {
  border-radius: 0px;
  background: #FFF;
  border-bottom: 0px solid rgba(0,0,0,0.1) !important;
  height: 30px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
  display: flex;
  flex-direction: row;
  padding-right: 0px !important;
}

.bda-dark #bda-qem {
  border-bottom: 0 !important;
  background: #29292A;
}

.bda-dark #bda-qem button {
  background: #29292A;
  border-left: 0;
  box-shadow: none;
  color: #EEE;
  border-bottom: 3px solid #29292A;
}

#bda-qem-twitch, #bda-qem-favourite {
  border-radius: 0;
  order: 2;
  display: flex;
}


.bda-dark #bda-qem button:hover {
  background-color: #29292A;
  border-radius: 0;
  color: #FFF;
  border-bottom: 3px solid rgba(var(--dp-color), 1);
}

.bda-dark #bda-qem button:active {
  border-bottom: 3px solid rgba(var(--dp-color), 1);
}

/* emojipicker emoji background */
.bda-dark .emoji-picker .scroller .emoji-item.selected, .bda-dark .emojiPicker-3g68GS .scroller-2dsok0 .emojiItem-3l4Fa9.selected-1LQfcZ {
  background-color: rgba(32, 32, 32, 0.8);
}

.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3g68GS .category-3rCtoh {
  background-color: #29292A;
}

.bda-dark .emoji-picker, .bda-dark .emojiPicker-3g68GS {
  background-color: #29292A !important;
}

.bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3g68GS .header-27dQ-e .search-bar {
  background-color: #29292A !important;
}

.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container {
  background-color: #29292A !important;
  max-height: 0px;
}

.emojiPicker-3g68GS .stickyHeader-3LjM5X, .emojiPicker-3g68GS {
  background: transparent !important;
}

.search-bar.search-bar-light .search-bar-inner {
  background-color: #29292A;
  border: 0;
  border-radius: 0!important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.search-bar.search-bar-light input {
  -webkit-box-shadow: none;
  background: #29292A;
  border: none;
  box-shadow: none;
  color: transparent;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  outline: none;
}

.emojiPicker-3g68GS .stickyHeader-3LjM5X {
  background: transparent;
  left: 8px;
  position: absolute;
  top: 0;
  width: 93%;
  z-index: 1;
}

/* Unread popup */
.unreadBar-3lDSDn {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.unread-2TDDFN {
  background-color: rgba(var(--dp-color), 1);
}

.bar-Y-RLyN {
  -webkit-app-region: no-drag;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  height: 20px;
  line-height: 14px;
  pointer-events: auto;
  position: relative;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.unread-2TDDFN:hover {
  background-color: var(--color-hover)!important;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
/* Loading members */
.theme-dark .channel-members-loading[style*="opacity: 1;"] {
  background: transparent !important;
}

.theme-dark .channel-members-loading .member,
.theme-dark .channel-members-loading .heading,
.theme-dark .channel-members-loading .member:nth-child(3n+2),
.theme-dark .channel-members-loading .member:nth-child(7n+4),
.theme-dark .channel-members-loading .member:nth-child(2n-4),
.theme-dark .channel-members-loading .member:nth-child(7n-1) {
  background: transparent;
}

.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
  background: #202020;
}

.ui-standard-sidebar-view .bda-slist li {
  background: #202020;
}

.contextMenu-uoJTbz {
  background-color: #202020 !important;
}

.contextMenu-uoJTbz:nth-child():hover {
  background-color: #202020 !important;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
  box-shadow: none;
}

.guilds-wrapper .guilds .guild .guild-inner {
  background: transparent !important;
  border-radius: 50% !important;
  cursor: pointer;
  font-size: 18px;
  line-height: 50px;
  overflow: hidden;
  text-align: center;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* BD */
#bd-settings-sidebar .ui-tab-bar-item {
  color: #b9bbbe;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 2px;
  padding: 6px 10px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  border-radius: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
  font-weight: 500;
  cursor: pointer;
}

#bd-settings-sidebar .ui-tab-bar-item:hover {
  color: #FFF;
  background-color: rgba(var(--lp-color), 1);
}

.side-2nYO0F .item-3879bf {
  border-radius: 0;
  margin-bottom: 2px;
  padding-bottom: 6px;
  color: #FFF !important;
  padding-top: 6px;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.theme-dark .side-2nYO0F .itemDefault-3NDwnY:hover, .theme-dark .side-2nYO0F .itemHover-3rojsB:hover {
  background-color: rgba(var(--lp-color), 1) !important;
  color: #FFF !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.bda-slist li {
  background: #202020;
  border: 0;
  border-radius: 0;
  padding: 5px 7px;
  max-height: 175px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  overflow: hidden;
}
/* Switches */
.a {
  background-color: rgba(var(--lp-color), 1) !important;
}

.a {
  border-radius: 0%;
  height: 24px;
  z-index: 100000;
}

.sizeDefault-rZbSBU:after {
  margin: 5px;
  margin: -3px 0 0 0;
  width: 24px;
  z-index: 10000;
}

.a {
  background-color: rgba(var(--lp-color), 1) !important;
  content: "";
  display: block;
  position: relative;
  z-index: 1;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper {
  border-radius: 14px;
  height: 18px;
  width: 42px;
}

.switchEnabled-3CPlLV {
  opacity: 1;
  overflow: unset;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  position: unset;
  z-index: -1000000;
}
/* Buttons */
#bd-settingspane-container .bd-pfbtn {
  position: static;
  margin-bottom: 0;
  border-radius: 0;
  display: inline-block;
  margin-left: 10px;
  padding: 8px
}

.bd-pfbtn {
  background: #4C7BE1;
  color: #FFF;
  border-radius: 0;
  margin-left: 10px;
}

.bd-pfbtn:hover {
  background: rgb(50, 103, 219);
}

.bda-slist .bda-footer button {
  background: rgba(var(--lp-color), 1);
  color: #FFF;
  border-radius: 0;
  display: block;
  margin-left: auto;
  padding: 4px 16px;
  transition: opacity 250ms ease;
}

.bda-slist .bda-footer button:hover {
  background: rgba(var(--dp-color), 1);
}
/* CSS EDITOR */
.editor-wrapper {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.ace-monokai {
  background-color: #29292A!important;
  color: #F8F8F2;
}

.ace-monokai .ace_gutter {
  background: #29292A;
  color: #8F908A;
}

.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
  background: rgba(var(--lp-color), 1);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
  margin: 0;
  width: 100px;
  background: transparent;
  color: #FFF;
  height: 26px;
  font-weight: 600;
  margin-top: 5px;
  box-shadow: none;
  border-radius: 0 !important;
  border: 0 !important;
}

.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
  background: transparent;
  color: #FFF;
  border: 0;
  box-shadow: none;
}

.bd-blue #friends .btn {
  background-color: rgba(var(--lp-color), 1);
}

.bd-blue .bd-pfbtn {
  background: rgba(var(--lp-color), 1);
}

.bd-blue .tooltip {
  background-color: rgba(var(--lp-color), 1);
  border-radius: 0%;
}

.ui-standard-sidebar-view .bda-slist .bda-right button {
  background: rgba(var(--lp-color), 1);
}

#bd-settings-sidebar .ui-tab-bar-item.selected {
  background-color: rgba(var(--lp-color), 1);
}

.themeDefault-3M0dJU.valueChecked-3Bzkbm {
  background-color: #4f545c;
}

/* alternating messages background */

.messages-wrapper .messages >div:not(.divider):nth-of-type(odd) {
  background-color: #262626;
}

.message-group {
  background-color: var(--messages-alternating);
  margin: 0;
  border: none!important;
  padding: 13px;
  padding-right: 2px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 0px solid #000000;
}
body .chat>.content {
    background: var(--messages-alternating)!important;
}

.search-results-wrap .search-result .search-result-message.hit:hover .message-group, .search-results-wrap .search-result.expanded .search-result-message.hit .message-group {
  background-color: #202020!important;
}

.search-results-wrap .search-result .search-result-message {
  overflow: visible;
  max-height: 80px;
}

.message-group .mentioned .message-text {
  background: rgba(0,0,0,.2)!important;
  border-radius: 0 1px 1px 0!important;
  position: relative;
  padding: 2px 0px 4px 4px;
}

/* pulsing mentions */
.message-group .mentioned .message-text {
  -webkit-animation: mentionpulse 3s infinite;
  animation: mentionpulse 3s infinite;
}

@-webkit-keyframes mentionpulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--dp-color), 1);
  }

  80% {
    box-shadow: 0 0 5px 5px rgba(var(--dp-color), 1);
    opacity: 1;
  }

  to {
    box-shadow: 0 0 0 0 rgba(var(--dp-color), 1);
    opacity: 1;
  }
}
/* end pulsing mentions */

.message-group .mentioned .message-text:after {
  background: rgba(var(--lp-color), 0.3);
  border-left: 4px solid rgba(var(--lp-color), 1);
  border-radius: 2px 0 0 2px;
  bottom: 0;
  content: " ";
  left: -6px;
  position: absolute;
  top: 0;
  width: 2px;
}

.bd-blue .mention {
  color: rgba(var(--lp-color), 1);
}

.bd-blue .tab-bar.TOP .tab-bar-item.selected {
  border-bottom: 2px solid rgba(var(--lp-color), 1);
  color: #FFF;
}

.bd-blue *[style*="background-color: rgb(114, 137, 218)"] {
  background-color: rgba(var(--lp-color), 0.5) !important;
  border-color: rgba(var(--lp-color), 1) !important;
}
.bd-blue *[style*="border-color: rgb(114, 137, 218)"] {
  border-color: rgba(var(--lp-color), 1) !important;
}

.theme-dark .embedTitleLink-1IGDvg {
  color: rgba(var(--lp-color), 1)!important;
}

.bd-blue .chat .new-messages-bar:hover {
  background-color: rgba(var(--lp-color), 1);
}

.lookFilled-luDKDo.colorBrand-3PmwCE {
  background-color: rgba(var(--dp-color), 1);
}

.lookFilled-luDKDo.colorBrand-3PmwCE:hover {
  background-color: rgba(var(--lp-color), 1)
}
.lookLink-3VWONr.colorBrand-3PmwCE {
  color: rgba(var(--lp-color), 1)
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
  background: rgba(var(--lp-color), 1);
}

.bd-blue .bd-modal-wrapper .footer button {
  background-color: rgba(var(--dp-color), 1);
}

.bd-blue .bd-modal-wrapper .footer button:hover {
  background-color: rgba(var(--lp-color), 1);
}

.barFill-18ABna {
  background: #72767d;
}

.bd-blue .bda-slist .bda-footer button {
  background-color: rgba(var(--lp-color), 1);
}

.scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb {
  background-color: rgba(var(--lp-color), 1);
}

.scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb {
  background-color: rgba(var(--lp-color), 1);
  border-color: transparent;
}

.message-group .reactions .btn-reaction {
  visibility: visible;
  opacity: 0.5!important;
  margin-top: -16px;
}

.message-group .reaction, .message-group .reaction .emoji {
  border: none;
  padding: 0px;
  width: 34px;
  height: 34px;
  margin-bottom: 15px;
  margin-left: 4px;
}

div[class^=container-] div[class*=wrapper] > div[class*=name] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  opacity: 0.8;
}

div[class^=container-] div[class*=wrapper] > div[class*=name]:before, div[class^=container-] div[class*=wrapper] > div[class*=name]:after {
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 2px;
  background: rgba(var(--lp-color), 1);
  display: inline-block;
  margin: 0px 5px;
}

div[class^=container-] div[class*=container]:first-child {
  padding: 0px;
}

.bd-blue .checkbox .checkbox-inner input[type=checkbox]:checked+span {
  background-color: rgba(var(--dp-color), 1);
  border-color: rgba(var(--dp-color), 1);
}
.bd-blue .message-group .edit-message .edit-operation>a {
  color: rgba(var(--lp-color), 1)
}
.bd-blue .theme-dark .reaction.reaction-me .reaction-count {
  color: rgba(var(--lp-color), 1);
}

.bd-blue .spinner-wandering-cubes .spinner-item {
  background-color: rgba(var(--lp-color), 1);
}

.wanderingCubesItem-35kyMu {
  background-color: rgba(var(--lp-color), 1)!important;
}

.theme-dark .reaction.reaction-me {
  background: rgba(var(--lp-color), 0.3);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
  background-color: rgba(var(--lp-color), 1);
  border-color: rgba(var(--lp-color), 1);
}

div[class^=embedPill-3sYS1X] {
  background-color: rgba(var(--lp-color), 1)!important;
}

.toast {
  opacity: 0;
}

.message-group .edit-message {
  margin: 6px -26px 0 -110px;
  padding-bottom: 2px;
  padding-top: 6px!important;
}
.item-rK1j5B.invite-YM1l0n {
  color: rgba(var(--dp-color), 1);
}
.item-rK1j5B:hover.invite-YM1l0n, .lookLink-3VWONr.colorLink-Ttelix{
  color: rgba(var(--lp-color), 1);
}

.lookLink-3VWONr.colorLink-Ttelix:hover .contents-4L4hQM {
  background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--lp-color), 1) 0, rgba(var(--lp-color), 1) 2px, transparent 0);
}

.noticeInfo-3v29SJ {
  background-color: rgba(var(--lp-color), 1);
}
